@media (max-width: 1024px){
    /* ! Upper Header ! */
    .rtl .main-header .header-top .top-left .list li{
        margin-left: 0;
    }
    /* ! Navbar ! */
    .main-header .header-upper .nav-outer{
        width: auto;
    }
    /* ! Home Page ! */
    .swiper-slide .image{
        top: 75px !important;
    }
    .dr-wael .image{
        top: 10px !important;
    }
    .main-slider.mb-5{
        margin-bottom: 50px !important;
    }
    .department-section {
        padding: 50px 0px 50px !important;
    }
    .department-section-two {
        padding: 0px 0px 50px !important;
    }
    .fluid-section-one.py-5{
        padding-top: 1rem !important;
    }
    .main-page{
        display: none;
    }
    .services-section{
        padding: 50px 0px 50px !important;
    }
    .team-section{
        padding: 0px 0px 50px !important;
    }
    .rtl .service-block-two .inner-box{
        text-align: center;
    }
    .fluid-section-one .content-column .content-box .sec-title{
        text-align: center !important;
    }
    .fluid-section-one .content-column .content-box .sec-title .separator::before{
        left: -310px !important;
    }
    .fluid-section-one .content-column .content-box .sec-title .separator::after{
        left: -260% !important;
    }
    /* ! Doctors Page ! */
    .main-doctors .row:first-child .col-lg-6:last-child .content-column .content-box .sec-title .separator::before {
        left: -315px !important;
    }
    .main-doctors .row:first-child .col-lg-6:last-child .content-column .content-box .sec-title .separator::after {
        left: -265px !important;
    }
    .main-doctors .row:nth-child(2)  {
        margin-top: 35px;
    }
    .main-doctors .separator::before {
        left: -310px !important;
    }
    .main-doctors .separator::after {
        left: -260px !important;
    }
    .main-doctors .row:nth-child(2) .image-column, .main-doctors .row:nth-child(3) .image-column {
        margin-top: 35px;
    }
    .main-doctors .row:last-child .sec-title {
        padding-top: 2rem;
    }
    .resident-doctors .row .col-lg-6:first-child {
        margin-bottom: 1rem;
    }
    .resident-doctors .separator::before{
        left: -320px !important;
    }
    .resident-doctors .separator::after{
        left: -268px !important;
    }
    /* ! Researches Page ! */
    .fluid-section-one .section-logo img {
        width: 350px !important;
    }
    .fluid-section-one .section-logo {
        text-align: center !important;
        margin-bottom: 30px;
    }
    .sponsors.py-5{
        padding-top: 0 !important;
    }
    .sponsors .row .col-lg-6:first-child{
        margin-bottom: 2rem;
    }
    /* ! Affliations Page ! */
    .blog-page-section .row:nth-child(2).mt-5{
        margin-top: 0 !important;
    }
    .blog-page-section .row:nth-child(2) .col-lg-6:last-child .blog-block{
        margin-top: 50px;
    }
    /* ! Contact Page ! */
    .contact-page-section .sec-title .separator::before{
        left: -310px !important;
    }
    .contact-page-section .sec-title .separator::after{
        left: -263px !important;
    }
    .contact-map-section.py-5{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .map-content{
        display: none;
    }
    .map-outer{
        height: 450px !important;
    }
    .map-outer iframe{
        width: 100% !important;
    }
}
@media (max-width: 767px){
    /* ! Navbar ! */
    .nav-outer .mobile-nav-toggler .icon{
        color: #0da6a9 !important;
    }
    /* ! Home Page ! */
    .main-slider{
        margin-bottom: 100px !important;
    }
}
@media (max-width: 512px){
    /* ! Navbar ! */
    .mobile-menu .menu-box .nav-logo{
        text-align: center;
    }
    .mobile-menu .menu-box .nav-logo a img {
        width: 150px;
    }
    .mobile-menu .navigation .py-5{
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .mobile-menu .navigation .mr-4{
        margin-right: 0 !important;
    }
    /* ! Home Page ! */
    .main-slider.mb-5{
        margin-bottom: 0px !important;
    }
    .banner-carousel{
        height: 245px !important;
    }
    .main-slider .slide {
        padding: 0 !important;
    }
    .main-slider .slide:first-child .image {
        top: 40px !important;
    }
    .dr-kamal .image{
        top: 30px !important;
    }
    .dr-kamal .image img{
        width: 300px !important;
    }
    .dr-wael .image{
        top: 30px !important;
    }
    .main-slider .slide:nth-child(4) .image, .main-slider .slide:nth-child(5) .image {
        top: 40px !important;
    }
    .fluid-section-one .content-column .content-box .sec-title .separator::before{
        left: -140px !important;
    }
    .fluid-section-one .content-column .content-box .sec-title .separator::after{
        left: -90% !important;
    }
    .rtl .service-block-two .inner-box{
        padding-right: 0;
    }
    .team-block .inner-box .image img {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-footer .widgets-section{
        padding-top: 50px;
        padding-bottom: 30px;
    }
    /* ! Doctors Page ! */
    .page-title{
        padding: 80px 0px 0px !important;
    }
    .page-title .auto-container{
        padding-bottom: 80px !important;
    }
    .page-title h1{
        margin-bottom: 0;
        font-size: 1.5rem !important;
        text-align: center !important;
    }
    .page-title:after{
        height: 40px !important;
    }
    .page-title .bread-crumb li{
        line-height: 0 !important;
        font-size: 14px !important;
    }
    .page-title .bread-crumb li:after{
        top: 0px !important;
    }
    .page-title .bread-crumb li a{
        font-size: 14px !important;
        line-height: 0 !important;
    }
    .rtl .page-title .bread-crumb li .fas{
        top: -6px !important;
    }
    .page-title .bread-crumb{
        right: 20px !important;
        bottom: 7px;
    }
    .main-doctors .content-column .content-box .sec-title h2{
        text-align: center;
    }
    .main-doctors .content-column .content-box .separator{
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .main-doctors .content-column .content-box .sec-title .separator::before, .main-doctors .row:first-child .col-lg-6:last-child .content-column .content-box .sec-title .separator::before{
        left: -135px !important;
    }
    .main-doctors .content-column .content-box .sec-title .separator::after, .main-doctors .row:first-child .col-lg-6:last-child .content-column .content-box .sec-title .separator::after{
        left: -85px !important;
    }
    .sec-title{
        margin-bottom: 30px !important;
        margin-top: 30px;
    }
    .main-doctors .row:nth-child(3){
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .resident-doctors .sec-title .separator:before{
        left: -134px !important;
    }
    .resident-doctors .separator::after {
        left: -85px !important;
    }
    .resident-doctors .row .col-lg-6:first-child{
        margin-bottom: 15px;
    }
    .resident-doctors .row .col-lg-6:nth-child(4) .card .card-body .reisedent-block:nth-child(3){
        margin-bottom: 15px;
    }
    .resident-doctors .row .col-lg-6:nth-child(2) .card .card-body .reisedent-block:nth-child(3){
        margin-bottom: 15px;
    }
    /* ! Researches Page ! */
    .owl-nav{
        display: none !important;
    }
    .fluid-section-one.py-5{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .fluid-section-one.my-5{
        margin-top: 0 !important;
    }
    .sponsors-carousel .owl-stage-outer .owl-stage .owl-item:nth-child(4) .slide-item .image-box{
        height: 250px !important;
        display: flex;
        align-items: center;
    }
    .doctor-block .doc-img{
        text-align: center;
    }
    .doctor-block img{
        width: 75% !important;
    }
    /* ! Contact Page ! */
    .contact-page-section{
            padding: 30px 0px 80px;
    }
    .contact-page-section .sec-title .separator::before{
        left: -130px !important;
    }
    .contact-page-section .sec-title .separator::after{
        left: -83px !important;
    }
}